[33mcommit fb0a64b096e17c5946a48de8cb4cdc639de2fb6a[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmaster[m[33m)[m
Author: Personal <mau.romerop@hotmail.com>
Date:   Wed Sep 9 01:41:50 2026 -0600

    agregar color de fondo al header

[33mcommit 191aefe3be276eb18a8e168a6c0941b8266348e5[m
Author: Personal <mau.romerop@hotmail.com>
Date:   Wed Sep 9 01:38:43 2026 -0600

    agregar dirección de Ookini en el footer

[33mcommit 8eb05c6914ebea1ba6add6b721651477ea9e8735[m
Author: Personal <mau.romerop@hotmail.com>
Date:   Wed Sep 9 01:33:30 2026 -0600

    Versión inicial del sitio Ookini
